name: Build and publish ProxyGuard image

on:
  # Build auto quand tu pousses sur main ET qu'au moins un de ces fichiers change
  push:
    branches: ["main"]
    paths:
      - "Dockerfile"
      - "docker-entrypoint.sh"
      - ".github/workflows/docker-image.yml"
      - "docker-compose.yml"
  # Bouton manuel "Run workflow" dans l'onglet Actions
  workflow_dispatch: {}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }} # ex: TonUser/proxyguard-auto

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
